#
# Sample DevStack local.conf.
#
# This sample file is intended to be used for your typical Tricircle DevStack
# multi-node environment. This file has the configuration values for DevStack
# to result in Central Neutron service and Tricircle Admin API service
# registered in CentralRegion, and local Neutron service and remaining
# services(e. g. Nova, Cinder, etc.) will be placed in RegionOne, but Keystone
# will be registered in RegionOne and is shared by services in all the
# regions.
#
# This file works with local.conf.node_2.sample to help you build a two-node
# three-region Tricircle environment(Central Region, RegionOne and RegionTwo).
#
# Some options need to be changed to adapt to your environment, see README.rst
# for detail.
#

[[local|localrc]]

DATABASE_PASSWORD=password
RABBIT_PASSWORD=password
SERVICE_PASSWORD=password
SERVICE_TOKEN=password
ADMIN_PASSWORD=password

HOST_IP=10.250.201.24

Q_ML2_PLUGIN_VLAN_TYPE_OPTIONS=(network_vlan_ranges=bridge:2001:3000,extern:3001:4000)
Q_ML2_PLUGIN_VXLAN_TYPE_OPTIONS=(vni_ranges=1001:2000)
Q_ML2_PLUGIN_FLAT_TYPE_OPTIONS=(flat_networks=bridge,extern)
OVS_BRIDGE_MAPPINGS=bridge:br-vlan
ML2_L3_PLUGIN=tricircle.network.local_l3_plugin.TricircleL3Plugin

# Specify Central Region name
# CENTRAL_REGION_NAME=CentralRegion

# Specify port for central Neutron server
# TRICIRCLE_NEUTRON_PORT=20001

# Set to True to integrate Tricircle with Nova cell v2(experiment)
# TRICIRCLE_DEPLOY_WITH_CELL=True

TRICIRCLE_START_SERVICES=True
enable_plugin tricircle https://github.com/openstack/tricircle/

disable_service horizon

# Enable l2population for vxlan network
[[post-config|/$Q_PLUGIN_CONF_FILE]]

[ml2]
mechanism_drivers = openvswitch,linuxbridge,l2population

[agent]
tunnel_types=vxlan
l2_population=True
